<ion-view title="Add Stock" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-divider">Subscribe</div>
      <div class="item item-body">
        <form class="list">

          <label class="item item-input">
            <span class="input-label">Exchange</span>
            <select ng-model="exchange1" ng-value="" ng-options="item.code as item.code for item in exchangeObjs track by item.id" ng-change="getStockList(exchange1)">
              <option value="">Select Account</option>
            </select>
          </label>
            <label class="item item-input">
            <span class="input-label">Stock Code</span>
            <select ng-model="stock1" ng-options="item.stock_code as item.stock_code for item in stockObjs track by item.id">
              <option value="">Select Account</option>
            </select>

          </label>
          <button id="developer-button2" class="button button-positive  button-block" ng-click="subscribe(exchange1,stock1)">Subscribe</button>
        </form>
      </div>
    </div>

  </ion-content>
</ion-view>
