<ion-view title="My Account" id="page3">
    <ion-content padding="true" class="has-header">
      Account
      <div class="row header">
        <div class="col">Exchange</div>
        <div class="col">Stock Code</div>
        <div class="col">Last Price</div>
      </div>
      <div class="row" ng-repeat="item in myStocks">
        <div class="col">{{item.code }}</div>
        <div class="col">{{item.stockCode}}</div>
        <div class="col">LK {{item.lastPrice}}</div>
      </div>
    </ion-content>
</ion-view>
