<ion-view title="My Stocks" id="page2">
  <ion-content padding="true" class="has-header">
    <button  class="icon ion-plus-round" ng-click="addStock()"  ></button>

    <div class="list card " id="cameraTabDefaultPage-card23">
      <ion-item class="item-dark" id="cameraTabDefaultPage-list-item13">
        <i class="icon ion-android-data"></i> StockCode
      </ion-item>
      <ion-item class="item-icon-left  " id="cameraTabDefaultPage-list-item15">
        <i class="icon ion-stats-bars"></i>Exchange</ion-item>
      <ion-item class="item-icon-left  " id="cameraTabDefaultPage-list-item16">
        <i class="icon ion-pie-graph"></i>Name</ion-item>
      <ion-item class="item-icon-left assertive  " id="cameraTabDefaultPage-list-item14">
        <i class="icon ion-trash-a"></i>Unsubscribe</ion-item>
    </div>
  </ion-content>
</ion-view>
