<ion-view title="My Stocks" id="page2">
    <ion-content padding="true" class="has-header">
      <a  class="icon ion-plus-round" href="#page1/page2"  ></a>


      <div class="list card">
        <div class="item item-divider">Subscribe</div>
        <div class="item item-body">
          <form class="list">

            <label class="item item-input">
              <span class="input-label">Exchange</span>
              <!--<input type="text" placeholder="" ng-model="exchange1">-->
              <select class="ion-input-select">
                <option selected>--Select--</option>
                <option>CSE</option>
                <option>LME</option>
              </select>
            </label>
            <label class="item item-input">
              <span class="input-label">Stock Code</span>
              <input type="text" placeholder="" ng-model="stock1">
            </label>
            <button id="developer-button2" class="button button-positive  button-block" ng-click="subscribe(uid1,exchange1,stock1)">Subscribe</button>
          </form>
        </div>
      </div>


    </ion-content>
</ion-view>
